// mixin ==========================================================================================================================================================================================================================
@import "_mixin";

// font-family ==========================================================================================================================================================================================================================
@import "_fonts";
$fontFamile: 'Montserrat', sans-serif;
$fontFamile-secondary: 'Open Sans', sans-serif;

$fz: calc(16 / 16) + rem;
// color ==========================================================================================================================================================================================================================
$colorBlack: #000;
$colorWhite: #fff;
$colorWhite-light: #f6f5f5;
$colorSecondary: #1b996b;


// nullstyle ==========================================================================================================================================================================================================================
@import "_nullstyle";


// wrapper ==========================================================================================================================================================================================================================
body {
   &.lock {
      overflow: hidden;
   }
}
.wrapper {
   width: 100%;
   min-height: 100%;
   display: flex;
   flex-direction: column;
   overflow: hidden;
   font-size: $fz;
   font-family: $fontFamile;
   color: $colorBlack;
}
.main {
   flex: 1 1 auto;
}
[class*="__container"] {
   margin: 0 auto;
   padding: 0 15px;
   max-width: 1230px;
}
a {
   display: inline-block;
}
// breakpoints ==========================================================================================================================================================================================================================
$pc: 1200px;
$laptop: 950px;
$table: 767.98px;
$mobile: 424.98px;

// переменные ==========================================================================================================================================================================================================================
:root {
   --index: calc(1vw + 1vh);
}


// подключение основных файлов ==========================================================================================================================================================================================================================
@import "base/header";
@import "base/footer";
@import "base/main";

// подключение глабальных файлов проекта ==========================================================================================================================================================================================================================
@import "_page";
